window {
  all: unset;
}

#wb {
  font-family: monospace;
  font-size: 14px;
  min-height: 20px;
  color: #bbbbbb;
  background: #0c0c0c;
}


#left {
  margin-left: 1rem;
}

#right {
  margin-right: 1rem;
}